<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="../node_modules/mocha/mocha.css">
<script src="../node_modules/mocha/mocha.js"></script>
<script src="../node_modules/chai/chai.js"></script>
<script>
var target = 'minifill';


window.TESTING = true;
window.testing = window;
mocha.setup({
  ui: 'tdd',
});
window.assert = chai.assert;

window.onload = function() {
  mocha.run();
};
</script>
<% _.forEach(src, function(sourceFile) { print('<script src="../src/' + sourceFile + '"></script>\n'); }); %>
<% _.forEach(test, function(testFile) { print('<script src="js/' + testFile + '"></script>\n'); }); %>
<div id="mocha"></div>
